<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Akka" version="1.0.5" targetFramework="net452" />
  <package id="Akka.Configuration" version="1.0.5835.36887" targetFramework="net452" />
  <package id="Akka.Configuration.Builders" version="1.0.5837.18449" targetFramework="net452" />
  <package id="Akka.Configuration.Builders.Hocon" version="1.0.5837.18449" targetFramework="net452" />
  <package id="Akka.Configuration.Lambdas" version="1.0.5840.30145" targetFramework="net452" />
  <package id="Akka.Remote" version="1.0.5" targetFramework="net452" />
  <package id="FluentCommandLineParser" version="1.4.3" targetFramework="net452" />
  <package id="Google.ProtocolBuffers" version="2.4.1.521" targetFramework="net452" />
  <package id="Helios" version="1.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
</packages>